@inject Microsoft.AspNetCore.Http.IHttpContextAccessor contextAccessor
<h3>Reset your password</h3>
@{

    var userId = contextAccessor.HttpContext.Request.Query["userId"];
    var code = contextAccessor.HttpContext.Request.Query["code"];

}
<form action="~/Home/ResetPassword" method="post">
    <input type="hidden" name="userId" value="@userId"/>
    <input type="hidden" name="code" value="@code"/>
    <input type="text" name="password"/>
    <button type="submit">Change</button>
</form>
