@model RegisterViewModel

@{

}

<form asp-action="Register" asp-controller="Auth" method="post">
    <input asp-for="ReturnUrl" type="hidden" />
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName" class="text-danger" />
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger" />
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger" />
    </div>
    <div>
        <button type="submit">Sign In</button>
    </div>
</form>
<div>
    <a asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">Back to Login page</a>
</div>